<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="alternate" type="application/rss+xml" title="O Gargula Blog - RSS Feed" href="/feed.xml">

    <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">

    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/main.min.css"/>
    <title>O Gárgula</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="site-header">
          <div class="logo"></div>
          <span>O Gárgula</span>
        </div>
        <nav class="menu">
          <div>
            <a href="/">Início</a>
          </div>
          <div>
            <a href="/About">Sobre</a>
          </div>
          {# <div>
            <a href="/Contact">Contato</a>
          </div> #}
        </nav>
      </header>

      <div class="content">
        {{ content | safe }}
      </div>

      <!-- Footer -->
      <footer class="footer">
        Obrigado &#10084; &nbsp;
        <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>
      </footer>
    </div>
  </body>
</html>
