<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>O Gárgula</title>

    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"
      rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/main.min.css"/>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="site-header">
          <div class="logo"></div>
          <span>O Gárgula</span>
        </div>
        <nav class="menu">
          <div>
            <a href="/">Início</a>
          </div>
          <div>
            <a href="/About">Sobre</a>
          </div>
          {# <div>
            <a href="/Contact">Contato</a>
          </div> #}
        </nav>
      </header>

      <div class="content">
        {{ content | safe }}
      </div>

      <!-- Footer -->
      <footer class="footer">
        Obrigado &#10084; &nbsp;
        <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>
      </footer>
    </div>
  </body>
</html>
